.btn-counter {
  padding:0.5rem;
  font-weight: 700;
}
.navlink {
  position: absolute;
  top: 10px;
  right: 10px;
  color: aliceblue;
}
.chart {
  height: 80vh;
  width:80vw;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top:10vh
}
.btns {
  margin-top: 0.25rem;
  filter: invert(70%) sepia(90%) ;
}
.tree-icon {
  filter: invert(80%) ;
}

.tree-icon-stopwatch {
  filter: invert(70%) sepia(90%) ;

  animation-name: growanimation;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.tree-icon-detail {

  filter: invert(70%) sepia(90%) ;
  float:right
}

.tree-detail {
  position: absolute;
  z-index: 1;
  top:25vh;
  left:25vw;
  height:50vh;
  width:50vw;
  background-color: rgba(137, 43, 226, 0.838);
  padding:1rem;
  font-size: larger;
  color:black
}

@keyframes growanimation {
  from {
    width: 10px;
  }
  to {
    width:100px
  }
}

.imp {
  color: blanchedalmond;
}

.hellapadding {
  padding-top: 2rem;
}

.detail-close-btn {
  float:right;
  background-color: black;
}

.tree-input {
  padding: 0.3rem;
}

[role="tooltip"] {
  visibility: hidden;
  /* position: absolute;
  top: 2rem; */
  /* left: 2rem; */
  background: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  /* Give some time before hiding so mouse can exit the input
  and enter the tooltip */
  transition: visibility 0.5s;
}
[aria-describedby]:hover,
[aria-describedby]:focus {
  position: relative;
}
[aria-describedby]:hover + [role="tooltip"],
[aria-describedby]:focus + [role="tooltip"],
[role="tooltip"]:hover,
[role="tooltip"]:focus {
  visibility: visible;
}
